.projects {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #000000;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: center;
    color: white;
}
.coll {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
    text-align: center;
    color: white;

}
.simple {
  text-align: center;
  color: white;
}
h1 {
  color: white;
}

.head {
  color: black;
}
div.transbox {
  width: 500px;
  height: 180px;
  margin: 30px 50px;
  background-color: #ffffff;
  border: 1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.3;
  /* for Mozilla */
  -moz-opacity:0.6;
}
div.transbox p {
  margin: 30px 40px;
  font-weight: bold;
  color: #000000;
}
div.background {
  width: 600px;
  height: 250px;
  background-color:#777;
  background:#000 url(\rockstar.jpg) repeat;
  border: 2px solid black;
}
